* {
   box-sizing: border-box;
}

a::after {
  content: " (" attr(href) ")";
}

a[href^="#"], nav {
  display: none;
}

body {
        font-family: "Garamond", Georgia, Arial, sans-serif;
}

.banner {
        border-bottom: .5px solid ;
}

.primary-menu ul {
  display: flex;
  list-style-type:none;
  padding: 0;
  margin: 0;
}
.primary-menu a {
  display: block;
  padding: 1em 1em;
  text-decoration:none;
  font-family: "Garamond", Georgia, Arial, sans-serif;
  color: #fff;
  font-weight: bold;
}

.intralinks {
display:none;
}

.banner img {
  display: none;
}

.bento {
  display: none;
}

h1 img {
  display: none;
}

.site-footer {
        border-top: 1px solid #d8e0f7;
}



/* everything above this seems to be fine */



.container {
   	display: flex;
 	justify-content: space-evenly;
	align-items: center;
	}


 .content-wrapper {
   display: grid;
   grid-template-columns: 3fr 2fr 2fr;
   grid-template-rows: auto auto minmax(4em,auto);
   grid-template-areas: "banner banner banner" "main sidebar toc" "footer footer footer";
} 
  

.banner {
   grid-area: banner;
}



main {
   grid-area: main;
   padding: .2em .3em .2em .3em;
   border-right: 1px solid #a09f9f;
   
}

.sidebar {
   grid-area: sidebar;
   border-right: 1px solid #a09f9f;
   padding: .2em .3em .2em .3em;
}

.site-footer {
   grid-area: footer;
}

.toc {
	grid-area: toc;
	padding: .2em .3em .2em .3em;
}



   
   

.site-footer {
		font-size: 80%;
	}



.pantry {
  border-collapse: collapse;
}


.pantry, .pantry td {
  border: 1px solid #000;
}

.pantry th {
 padding: 2px;
}


.pantry td {
  padding: 2px;
}

tbody tr:nth-child(odd) {
  background: #eee;
}


.pantry tfoot {font-size: 80%;
}

ul
{list-style: circle;}

ul li ul li ul li{
	list-style: square;}
	
	
ul li ul li ul li{
	font-style: italic;
	}
	
