* {
   box-sizing: border-box;
}

/* Top level styling */


body {
        font-family: "Garamond", Georgia, Arial, sans-serif;
        line-height: 1.5;
}

.banner {
        background-color: #5F9EA0;
        border-bottom: 5px solid BLUE;
        padding: 1em 1.5em 1em 1.5em; 
}

.primary-menu ul {
  display: flex;
  list-style-type:none;
  padding: 0;
  margin: 0;
  background-color:#5F9EA0;
}
.primary-menu a {
  display: block;
  padding: 1em 2em;
  text-decoration:none;
  font-family: "Garamond", Georgia, Arial, sans-serif;
  color: #fff;
  font-weight: bold;
  background-color:#5F9EA0;
}
         
.primary-menu a:hover {
  color:#CCCCCC;
}        


h2 {
background-color: #7AC5CD;
padding: .5em .5em .5em .5em;

}


img {
   max-width: 100%;
   height: auto;
}


.site-footer {
        min-height: 6em;
        background-color: #DCDCDC;
        border-top: 1px solid #d8e0f7;
}

.container {
		min-height: 4em;
		background-color: #9370DB;
}

form {
		background-color: #00008B;
		padding: 1em 2em;
  		font-family: "Garamond", Georgia, Arial, sans-serif;
	    color: #A9A9A9;
	    display: block;
		}
		
		

@media (min-width: 768px) 
{

.container {
   	display: flex;
 	justify-content: space-evenly;
	align-items: center;
	}

/* Column and grid definitions */



/* Top level styling for large display */

body {
      font-size: 120%;
      line-height: 1.75;
   }   
   
   
.banner {
		position: relative;
	}	


.banner img {
		position: absolute;
		top: 5px;
		right: 5px;

	}   
	
}

.site-footer {
		font-size: 80%;
	}


/* Table formatting */


.pantry {
  border-collapse: collapse;
}

.pantry caption {
 color: green;
 font-size: 125%;
 }

.pantry, .pantry td {
  border: 1px solid #000;
}

.pantry th {
 padding: 10px;
}

.pantry td {
  padding: 6px;
}

tbody tr:nth-child(odd) {
  background: #eee;
}
td:hover {
  background: yellow;
}

.pantry tfoot {font-size: 80%;
}


/* List style */


ul
{list-style: circle;}

ul li ul li ul li{
	list-style: square;}
	
	
	
ul li ul li ul li{
	font-style: italic;
	color: blue;}
	

/* Intrapage links */

.intralinks {
list-style: none;}



